apscheduler==3.11.0 
asgiref==3.8.1 
astroid==3.3.9 
black==25.1.0 
click==8.1.8 
colorama==0.4.6 
coverage==7.7.0 
cssbeautifier==1.15.4 
dill==0.3.9 
django-apscheduler==0.7.0 
django-bootstrap5==25.1 
django==4.2 
djlint==1.36.4 
editorconfig==0.17.0 
faker==37.0.1 
flake8-pyproject==1.2.3 
flake8==7.1.2 
iniconfig==2.0.0 
isort==6.0.1 
jsbeautifier==1.15.4 
json5==0.10.0 
mccabe==0.7.0 
mypy-extensions==1.0.0 
mypy==1.15.0 
packaging==24.2 
pathspec==0.12.1 
pillow==11.1.0 
platformdirs==4.3.6 
pluggy==1.5.0 
psycopg2-binary==2.9.10 
pycodestyle==2.12.1 
pyflakes==3.2.0 
pylint==3.3.6 
pytest-cov==6.0.0 
pytest-django==4.10.0 
pytest-mock==3.14.0 
pytest==8.3.5 
python-decouple==3.8 
pyyaml==6.0.2 
regex==2024.11.6 
six==1.17.0 
sqlparse==0.5.3 
tomlkit==0.13.2 
tqdm==4.67.1 
typing-extensions==4.12.2 
tzdata==2025.1 
tzlocal==5.3.1 
