{% extends "base.html" %}
{% block content %}
  <div class="container my-4">
    <h1 class="mb-4">Список получателей</h1>
    <a href="{% url 'mailings:recipient_create' %}"
       class="btn btn-success mb-3"
       style="transition: background-color 0.3s"
       onmouseover="this.style.backgroundColor='#218838'"
       onmouseout="this.style.backgroundColor=''">Добавить получателя</a>
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>ФИО</th>
            <th>Email</th>
            <th style="text-align: right;">Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for recipient in recipients %}
            <tr>
              <td>{{ recipient.full_name }}</td>
              <td>{{ recipient.email }}</td>
              <td style="text-align: right;">
                <a href="{% url 'mailings:recipient_detail' recipient.pk %}"
                   class="btn btn-info btn-sm"
                   style="transition: background-color 0.3s"
                   onmouseover="this.style.backgroundColor='#138496'"
                   onmouseout="this.style.backgroundColor=''">Просмотр</a>
                {% if recipient.owner == user %}
                  <a href="{% url 'mailings:recipient_update' recipient.pk %}"
                     class="btn btn-warning btn-sm"
                     style="transition: background-color 0.3s"
                     onmouseover="this.style.backgroundColor='#e0a800'"
                     onmouseout="this.style.backgroundColor=''">Редактировать</a>
                  <a href="{% url 'mailings:recipient_delete' recipient.pk %}"
                     class="btn btn-danger btn-sm"
                     style="transition: background-color 0.3s"
                     onmouseover="this.style.backgroundColor='#c82333'"
                     onmouseout="this.style.backgroundColor=''">Удалить</a>
                {% endif %}
                {% if is_manager and not recipient.owner.is_blocked %}
                  <a href="{% url 'users:user_block' recipient.owner.pk %}"
                     class="btn btn-danger btn-sm"
                     style="transition: background-color 0.3s"
                     onmouseover="this.style.backgroundColor='#c82333'"
                     onmouseout="this.style.backgroundColor=''">Заблокировать</a>
                {% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-center">Получателей нет</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'includes/pagination.html' with page=page_obj page_param="page" %}
  </div>
{% endblock %}
