<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333">
    <h2 style="color: #007bff;">Здравствуйте!</h2>
    <p>
      Вы запросили сброс пароля для Вашего аккаунта в Mail Pulse. Чтобы установить новый пароль, нажмите на ссылку ниже:
    </p>
    <p style="margin: 20px 0;">
      <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"
         style="color: #007bff;
                text-decoration: none">Сбросить пароль</a>
    </p>
    <p>Если Вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
    <p>
      С уважением,
      <br>
      Команда Mail Pulse
    </p>
  </body>
</html>
